/bin/
/plugins/
/sonar/
/.settings/
/target/
/.idea/
/.vscode/

.classpath
.factorypath
.project
*.iml
*.bak
.DS_Store

dependency-reduced-pom.xml
/src/test/implementation/items/autocrafters/TestAutoCrafter.java